<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>To Do List</title>
	</head>
	<body>
		<% if(kindOfDay === "Shaniwar" || kindOfDay === "Raviwar"){ %>
		<h1 style="color: purple;"><%= kindOfDay %> to do list</h1>
		<% } else { %>
		<h1 style="color: blue;"><%= kindOfDay %> to do List</h1>
		<% } %>
	</body>
</html>
